.aside-container{
    flex-direction: column;
}

/* ASIDE HEADER */
.aside-header{
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

#aside img{
    height: 55px;
   width: 55px;
   border-radius: 50%;
   margin-right: 5px;
}

.aside-header-icons i{
    padding-right: 15px;
    color: var(--text-first-color);
}

/* NOTIFICATION TOGGLE */
.aside-notification-bar{
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: var(--notification-bar-color);
}

.notification-icon{
    background-color: var(--first-color);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    justify-content: center;
}

.notification-text{
    flex-direction: column;
    padding-left: 10px;
}

/* ASIDE SEARCH BAR */
.aside-search-bar{
    width: 100%;
    height: 35px;
    padding: 4px;
    background-color: var(--first-color)
}

.aside-search-bar button{
    border: none;
    width: 14%;
    background-color: white;
    color: var(--text-first-color);
}
.aside-search-bar input{
    border: none;
    background-color: white;
    color: var(--text-first-color);
    width: 85%;
}
/* CONTACTS */
.contacts-container {
    width: 100%;
    flex-grow: 1;
    background-color: white;
    flex-direction: column;
}

.contact{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid lightgray;
}

.contact-img{
    width: 20%;
}

.info-container{
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
}

