.aside-container{
    flex-direction: column;
}

/* ASIDE HEADER */
.aside-header{
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

#aside img{
    height: 55px;
   width: 55px;
   border-radius: 50%;
   margin-right: 5px;
}

.aside-header-icons i{
    padding-right: 15px;
    color: var(--text-first-color);
}

/* NOTIFICATION TOGGLE */
.aside-notification-toggle{
    width: 100%;
    height: 70px;
    background-color: burlywood; /* DEBUG */
}

.aside-search-bar{
    width: 100%;
    height: 35px;
    background-color: darkgreen; /* DEBUG */
}

.contacts-container {
    width: 100%;
    flex-direction: column;
    background-color: hotpink; /* DEBUG */
    overflow-y: auto;
}

.contacts-list{
    height: 100%;
}

.contact{
    width: 100%;
    height: 70px;
    background-color: gold; /* DEBUG */
    border-bottom: 1px solid lightgray;
}

