/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    background:linear-gradient( var(--body-second-color) 15%, var(--body-first-color) 15% 85%);

    justify-content: center;
    align-items: center;
}

.container{
    width: 1200px;
    height: calc(100vh - 40px);
    background-color: var(--first-color);

}

#aside{
    width: 33%;
    height: 100%;
    background-color: aquamarine; /* DEBUG */
}

#main{
    width: 66%;
    height: 100%;
    background-color: bisque; /* DEBUG */
}