/* MAIN HEADER */
.main-container{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.main-header, .main-footer{
    height: 60px;
    background-color: var(--first-color);
    align-items: center;
    justify-content: space-between;
}
#main img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 5px;
}

.main-header-icons i{
    padding-right: 15px;
    color: var(--text-first-color);
}

.chat-container{
    overflow-y: auto;
    flex-grow: 1;
    padding: 50px 80px;
    background-image: url(../img/mine.jpg);
    flex-direction: column;
}

.message-container{
    max-width: 60%;
    min-width: 30%;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.message-container:not(last-of-type){
    margin-bottom: 15px;
}

.main-footer{  
    padding: 5px;
}

.message-time{
    align-self: flex-end;
}

.message-container.sent{
    align-self: flex-end;
    background-color: var(--message-sent-color);
}

.message-container.received{
    background-color: var(--message-received-color);
}

