:root{
    --body-first-color: #dadbd5;
    --body-second-color: #009688;
    --first-color: #EAEAEA;
    --text-first-color: gray;
    --notification-bar-color: #8EDAFC;
    --message-sent-color: #D5F9BA;
    --message-received-color: #fff;
}